.time{
    z-index: 1;
}
h4{
    text-align: center;
}
/*.content:hover{
    transform: scale(1.05);

}*/ 

.education {
    font-family: 'Centra Sans Serif', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  text-align: center;
}
body{
    font-weight : 400;
    overflow-x: hidden;
    position: relative;
    background-color:  black !important;
    
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }

  .chrono-wrapper {
    width: 80%; /* Reduce overall width */
    margin: auto;
  }
  
  .chrono-icons {
    transform: scale(0.7); /* Make icons smaller */
  }
  
  .chrono-timeline .card {
    font-size: 0.9rem; /* Adjust font size for smaller text */
    padding: 10px; /* Reduce padding for smaller cards */
  }
  
  .card-subtitle, .card-title {
    text-align: center; /* Ensure titles remain visually balanced */
  }